{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div class="row row-cols-1 row-cols-md-2 mb-3 text-center">
    <div class="col">
      <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 fw-normal">Город</h4>
      </div>
      <div class="card-body">
        <form action="" method="post">
          {% csrf_token %}
        <ul class="list-unstyled mt-3 mb-4">
          <div class="input-group">
            <span class="input-group-text">City</span>
            {{form.name}}
            <div class="invalid-feedback">
              Your username is required.
            </div>
          </div>
        </ul>
        <button type="submit" class="w-100 btn btn-lg btn-outline-primary">Узнать погоду</button>
        </form>
      </div>
    </div>
    </div>
    <div class="col">
      <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 fw-normal">Информация</h4>
      </div>
      </div>
      {% for info in all_info %}
        <div class="alert alert-info">
          <div class="row row-cols-1 row-cols-md-2 mb-3 text-center">
            <div class="col">
              <b>Город:</b> {{info.city}} <br>
              <b>Температура:</b> {{info.temp}}<sup>o</sup> <br>
            </div>
            <div class="col">
              <img src="http://openweathermap.org/img/w/{{info.icon}}.png" alt="Фото погоды">
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}